@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --primary: #576cbc;
    --secondary: #0b2447;
    --tertiary: #b1ddec;
    --gris: #948e8e;
    --star: #ffd910;
    --menu: #a5d7e8;
}

body, html {
   height: 300px;
}



.sent-message {
    display: flex;
    flex-direction: row-reverse;
    margin: 5px;
    background-color: rgb(230, 227, 249);
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    margin-left: 45vw;

}

.sent-message .flex-container {
    justify-content: flex-start;
}

.ajustar-texto {
    width: 250px;
    word-wrap: break-word;
}

.chat-input {
    position: absolute;
}

.input-enviar {
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1) !important;
}

.received-message {
    display: flex;
    flex-direction: row;
    background-color: rgb(230, 227, 249) !important;
}

.message-container {
    max-width: 70%;
}

.received-message .flex-container {
    justify-content: flex-end;
}

.message-content {
    background-color: #F3F4F6;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 8px;
}

.message-content p {
    margin: 0;
}


.chat-container {
    display: flex;
    gap: 0px;
    
}
.conversation-buttons {
    color: white;
    overflow-y: auto;
    overflow-x: auto;
    background-color: var(--secondary);
}


.boton-enviar {
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.logo-enviar {
    margin-top: 5px;
    font-size: 20px;
}

.boton-persona {
    color: white;
}

.boton-persona:hover {
    background-color: #1e3f6e;
}

.chat-messages {
    height: 700px;
    overflow-y: scroll;
    padding-bottom: 30px;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--primary) var(--secondary);
}

.received-message {
    display: flex;
    margin: 5px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
}

.received-message .flex-container {
    justify-content: flex-end;
}

.message-content {
    background-color: #F3F4F6;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 8px;
}

.message-content p {
    margin: 0;
}

/* Ocultar la barra de desplazamiento del chat */
.chat-messages::-webkit-scrollbar {
    width: 0;
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
    .sent-message {
        margin-left:  40vw;
    }

}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
    .sent-message {
        margin-left:  35vw;
    }

}



@media screen and (min-width: 767px) and (max-width: 1000px) {
    .sent-message {
        margin-left:  40vw;
    }

}




/* Para móviles (menos de 768px de ancho) */
@media screen and (max-width: 767px) {

    .sent-message {
        margin-left:  50vw;
    }
}

/* Para móviles (menos de 768px de ancho) */
@media screen and (max-width: 667px) {

    .sent-message {
        margin-left:  40vw;
    }
}

@media screen and (max-width: 567px) {

    .sent-message {
        margin-left:  30vw;
    }
}

@media screen and (max-width: 467px) {

    .sent-message {
        margin-left:  15vw;
    }
}

@media screen and (max-width: 367px) {

    .sent-message {
        margin-left:  5vw;
    }
}


