@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --primary: #576cbc;
    --secondary: #0b2447;
    --tertiary: #b1ddec;
    --gris: #948e8e;
    --star: #ffd910;
    --menu: #a5d7e8;
}

html, body {
    /* background-color: var(--gris) !important; */
    overflow: hidden;
}

.chat-room {
    width: 1500px;
}

.sent-message {
    display: flex;
    flex-direction: row-reverse;
    margin: 5px;
    background-color: rgb(230, 227, 249);
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    margin-left: 960px;
}

.sent-message .flex-container {
    justify-content: flex-start;
}

.ajustar-texto {
    max-width: 80%;
    word-wrap: break-word;
}

.chat-input {
    margin-bottom: 10px;
    position: fixed;
    width: 1300px;
    top: 830px;
}

.input-enviar {
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1) !important;
}

.received-message {
    display: flex;
    flex-direction: row;
    background-color: rgb(230, 227, 249) !important;
}

.message-container {
    max-width: 70%;
}

.received-message .flex-container {
    justify-content: flex-end;
}

.message-content {
    background-color: #F3F4F6;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 8px;
}

.message-content p {
    margin: 0;
}


.chat-container {
    display: flex;
    gap: 5px;
}

.conversation-buttons {
    /* height: calc(100vh - 20px); */
    overflow-y: auto;
    background-color: var(--secondary);
    width: 200px
}

.boton-enviar {
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.logo-enviar {
    margin-top: 5px;
    font-size: 20px;
}

.boton-persona {
    color: white;
}

.boton-persona:hover {
    background-color: #1e3f6e;
}

.chat-messages {
    height: 700px;
    overflow-y: scroll;
    margin-bottom: 30px;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--primary) var(--secondary);
}

.received-message {
    display: flex;
    margin: 5px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
}

.received-message .flex-container {
    justify-content: flex-end;
}

.message-content {
    background-color: #F3F4F6;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 8px;
}

.message-content p {
    margin: 0;
}

/* Ocultar la barra de desplazamiento del chat */
.chat-messages::-webkit-scrollbar {
    width: 0;
}


/* Para pantallas de 1440px (PC) y superior */
@media screen and (max-width: 1440px) {
    .chat-room {
        margin-left: 0px;
        width: 1100px;
    }

    .input-enviar {
        width: 85%;
    }

    .sent-message {
        margin-left: 600px;
    }

    .chat-input {
        width: 950px;
        top: 830px;
    }
}

/* Para tabletas (768px de ancho) */
@media screen and (max-width: 768px) and (max-width: 1024px) {
    .sent-message {
        margin-left: 430px;
    }

    .input-enviar {
        width: 80%;
    }

    .chat-messages{
        margin-left: 0px;
        width: 800px;
    }

    .chat-input {
        width: 790px;
        top: 880px;
    }
}

/* Para móviles (390px de ancho) */
@media screen and (max-width: 767px) {
    .sent-message {
        margin-left: 30px;
    }

    .chat-input {
        width: 400px;
        top: 740px;
    }
}
