@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --primary: #576cbc;
    --secondary: #0b2447;
    --tertiary: #b1ddec;
    --gris: #948e8e;
    --star: #ffd910;
    --menu: #a5d7e8;
}

.sent-message {
    display: flex;
    flex-direction: row-reverse;
    margin: 5px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    margin-left: 78%;
}

.sent-message .flex-container {
    justify-content: flex-start; 
}

.input-enviar {
    padding: 10px;
}
.received-message {
    display: flex;
    flex-direction: row; 
}

.message-container {
    max-width: 70%; 
}



.received-message .flex-container {
    justify-content: flex-end; 
}

.message-content {
    background-color: #F3F4F6; 
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 8px;
}

.message-content p {
    margin: 0; 
}


.chat-container {
    display: flex;
    gap: 5px;
}

.conversation-buttons {
    height: calc(100vh - 20px);
    overflow-y: auto;
    background-color: var(--secondary);
}

.boton-enviar {
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 50px;
}

.logo-enviar {
    margin-top: 5px;
    font-size: 20px;
}

.boton-persona {
    color: white;
}


.chat-messages {
    flex: 1;
    overflow-y: scroll;
    height: calc(100vh - 20px);
    scroll-behavior: smooth; /* Desplazamiento suave */
}

.received-message {
    display: flex;
    margin: 5px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
}

.received-message .flex-container {
    justify-content: flex-end;
}

.message-content {
    background-color: #F3F4F6;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 8px;
}

.message-content p {
    margin: 0;
}

/* Ocultar la barra de desplazamiento del chat */
.chat-messages::-webkit-scrollbar {
    width: 0;
}
