.boton-modal {
    background-color: #576cbc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.boton-modal:hover {
    background-color: #3f4e8f;
}

@media screen and (min-width: 1441px) {
    .ajustar-resena {
        padding-left: 280px;
    }

    .ajustar-dejar-resena {
        padding-left: 280px;
    }
}