.dirrecion {
    border: 2px solid #948e8e;
    border-radius: 5px;
}
#map {
    height: 400px;
}

.error-mensaje {
    color: red;
}

#btnBuscar{
    background-color: #576cbc;
    color: white;
    padding: 2px 10px;
    border-radius: 5px;
}

@media screen and (min-width: 1440px) {
    .dirrecion {
        margin-left: 280px;
    }
}

@media screen and (min-width: 1441px) {
    .error-mensaje {
        padding-left: 280px;
    }
}