:root {
    --primary: #576cbc;
    --secondary: #0b2447;
    --tertiary: #b1ddec;
    --gris: #948e8e;
    --star: #ffd910;
    --menu: #a5d7e8;
}

html,
body {
    margin: 0;
    padding: 0;
}

.bg-secondary {
    background-color: var(--gris) !important;
}

.imagen-optima {
    object-fit: cover;
}

.area {
    border: 1px solid var(--gris);
}

.botones-propiedad-elimiar {
    background-color: rgb(247, 54, 54);
    box-shadow: 0px 5px 5px 0px var(--gris);
}

.boton-direcion {
    border: 1px solid var(--gris);
}

body,
html {
    background-color: #ffff;
}

.icon-blue {
    color: var(--primary);
}

.descripcion {
    border: 1px solid var(--gris);
    border-radius: 5px;
}

.botones-propiedad {
    background-color: var(--primary);
    box-shadow: 0px 5px 5px 0px var(--gris);
}

.bed-input {
    border: 2px solid var(--gris);
    border-radius: 5px;
    padding: 1px;
}

.boton-cama {
    background-color: white;
    border: 1px solid var(--gris);
    color: black;
}

.boton-cama:hover {
    background-color: var(--gris);
    color: white;
}

.boton-modal {
    background-color: white;
    border: 1px solid var(--gris);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 5px 5px 0px var(--gris);
}

.boton-anadir-cama {
    background-color: var(--primary);
    border-radius: 50px;
    box-shadow: 0px 5px 5px 0px var(--gris);
    color: white;
    font-size: 20px
}

.bola-premiun {
    background-color: var(--star);
    border-radius: 50px;
}

.corono {
    color: white;
    font-size: 30px;
}

.premiun-texto {
    color: var(--primary);
    font-size: 20px;
}

.boton-modal-cerrar {
    background-color: white;
    border: 1px solid var(--gris);
    color: black;
}

.boton-modal-cerrar:hover {
    background-color: var(--gris);
    color: white;
}



/* MOBIL */
@media screen and (min-width: 390px) {
    .imagenes-pie {
        padding-left: 30px;
    }
}

@media screen and (min-width: 391px) and (max-width: 468px) {
    .imagenes-pie {
        padding-left: 50px;
    }
}

@media screen and (min-width: 468px) and (max-width: 768px) {
    .imagenes-pie {
        padding-left: 70px;
    }
}


/* TABLET */
@media screen and (width: 768px) {
    .imagenes-pie {
        padding-left: 55px;
    }
}

/* PC */

@media screen and (min-width: 1441px) and (min-height: 900px) {
    .propitario {
        padding-left: 280px;
    }

    .mapa-ajustar {
        margin-left: 280px;
    }
    .contendor-direcion {
        padding-left: 230px;
        
    }
}

@media screen and (min-width: 1440px) {

    .imagenes-pie {
        padding-left: 0px;
    }

    .contendor-descripcion {
        margin-left: 0px;
    }

    .descripcion {
        width: 100%;
    }

    .contenedor-propietario {
        margin-left: 0px;
    }

    .texto-que-hay {
        margin-left: 0px;
    }

    .contendor-caracteritica {
        margin-left: 0px;
    }

    .contendor-camas {
        margin-left: 0px;
    }

    .contneder-cama-premiun {
        gap: 180px;
    }

    .contendor-resenas {
        margin-left: 0px;
    }

    .ajustar {
        margin-left: 0px;
    }
}