---
import Layout from "../layouts/cabezera.astro";
import { Modal, Box, Button, TextField, Rating } from '@mui/material';
import Adminprop from "../components/react/AdminProp.jsx";
import AdminUsers from "../components/react/AdminUsers.jsx";
---

<Layout title="Panel Admin" fondo="blue">
    <main>
        <!-- BOTONES FILTROS -->
        <h2 class="pl-5 text-xl font-bold pl-2 mt-10 md:pl-[100px] lg:pl-[200px]">Panel de adminstrador</h2>
        <div class="pl-5 md:pl-[100px] lg:pl-[200px] flex items-center gap-5 mt-10">
            <div class="contendor-filtros h-[100px] w-[100px] flex justify-center items-center rounded-[10px]">
                <i class="icon-[material-symbols--house] h-[50px] w-[50px]"></i>
            </div>
            <div class="contendor-filtros h-[100px] w-[100px] flex justify-center items-center rounded-[10px]">
                <i class="icon-[ph--users-fill] h-[50px] w-[50px]"></i>
            </div>
            
        </div>
        <!-- PROPIEDADES -->
        <h2 class="pl-5 text-xl font-bold pl-2 mt-10 md:pl-[100px] lg:pl-[200px]">Propiedades</h2>

        <div>
             <Adminprop  client:only="svelte" />
        </div>
       
        <!-- USUARIOS -->
        <h2 class="pl-5 text-xl font-bold pl-2 mt-10 md:pl-[100px] lg:pl-[200px]">Usuarios</h2>

        <AdminUsers  client:only="svelte" />
       
    </main>
    <style>
        .contendor-filtros {
            border: 3px solid gray;
        }

        select {
            border: 1px solid gray;
            padding: 5px;
            border-radius: 5px;
        }

        input {
            border: 1px solid gray;
            padding: 5px;
            border-radius: 5px;
        }

        .contendor-filtros:hover {
            background-color: #f1f1f1;
        }

        .modificar {
            background-color: #576cbc;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 205px;
        }

        .eliminar {
            background-color: #f44336;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 205px;
        }

        main,
        html,
        body {
            background-color: white;
        }
    </style>
</Layout>
