---
import Layout from "../layouts/cabezera.astro";
import Card from "../components/Propiedad.astro";
import Caract from "../components/Caracteristica.astro";
import Prop from "../components/react/Prop.jsx";
import Char from "../components/react/Char.jsx";

---

<Layout title="Login" fondo="blue">
    <main>
        <div class="fondo-menu">
            <div class="flex gap-10 font-bold justify-center">
                <p>Mis reservas</p>
                <p>Mis propiedades</p>
                
            </div>
            <div class="flex justify-center">
                <div class="buscador h-[55px] w-[376px] rounded-[50px] mt-[20px] mb-[20px] lg:h-[77px] lg:w-[714px]">
                    <div class="flex justify-center items-center lg:mt-3 gap-2">
                        <div class="esconde">
                            <p class="ml-5">Destino</p>
                            <input type="text" class="h-[28px] w-[300px] lg:h-[30px] lg:w-[190px] pl-[20px] pr-[20px] caja" placeholder="Buscar vivienda" />
                        </div>
                        <div class="raya esconde"></div>
                        <div class="ml-[20px] esconde">
                            <p>Fecha entrada</p>
                            <input type="date" class="lg:h-[30px] lg:w-[150px]">
                        </div>
                        <div class="raya esconde"></div>
                        <div class="ml-[20px] esconde">
                            <p class="">Fecha salida</p>
                            <input type="date" class="lg:h-[30px] lg:w-[150px]">
                        </div>
                        <div>
                            <button class="btn w-[310px] bg-white mt-[2px] esconde2" onclick="my_modal_3.showModal()" style="border: none;">Buscar destino y fechas</button>
                            <dialog id="my_modal_3" class="modal">
                                <div class="modal-box">
                                    <form method="dialog">
                                        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                                    </form>
                                    <h3 class="font-bold text-lg">¿Donde quieres ir?</h3>
                                    <div class="buscador h-[55px] w-[376px] rounded-[50px] mt-[20px] mb-[20px] lg:h-[77px] lg:w-[714px]">
                                        <input type="text" class="h-[28px] w-[300px] lg:h-[30px] lg:w-[190px] pl-[20px] pr-[20px] mt-[10px] ml-[10px] caja" placeholder="Buscar vivienda" />
                                    </div>
                                    <h3 class="font-bold text-lg">Fecha de entrada:</h3>
                                    <input type="date" class="h-[48px] w-[380px] lg:h-[30px] lg:w-[190px] p-[8px] rounded-[30px] calendario">
                                    <h3 class="font-bold text-lg mt-5">Fecha de salida:</h3>
                                    <input type="date" class="h-[48px] w-[380px] lg:h-[30px] lg:w-[190px] p-[8px] rounded-[30px] calendario">
                                    <br>
                                    <button type="submit" class="botonBuscar text-white px-4 py-2 rounded-md mt-5">Buscar</button>
                                </div>
                            </dialog>                        
                        </div>
                        <button class=" esconde boton-buscar flex justify-center items-center h-[28px] w-[30px] lg:h-[51px] lg:w-[53px] rounded-[50px]">
                            <i class="icon-[ph--magnifying-glass-bold] text-fuchsia-50 lg:w-[26px] lg:h-[25px]"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <Char url="http://localhost:8081/v1/characteristic/get/all" client:only="svelte" />
        <Prop url="http://localhost:8081/v1/propertyCharacteristics/get/all" client:only="svelte" />
    </div>
    </main>

    <script>
        let characteristics = document.querySelectorAll('.caracteristica');

        characteristics.forEach((characteristic) => {
            characteristic.addEventListener('click', () => {
                characteristic.classList.toggle('bg-[#576cbc]');
                characteristic.classList.toggle('rounded-lg');
                characteristic.classList.toggle('text-white');
            });
        });
    </script>

    <style>
        :root {
            --primary: #576cbc;
            --secondary: #0b2447;
            --tertiary: #b1ddec;
            --gris: #948e8e;
            --star: #ffd910;
            --menu: #a5d7e8;
        }
        .bg-secondary {
        background-color: var(--gris) !important;
        }
        body, html {
            background-color: #ffff;
        }
        .ddd {
            display: flex;
            flex-direction: column;
        }
        .fondo-menu {
            font-size: 16px;
            background-color: var(--menu);
        }

        .buscador {
            background-color: white;
            border: 1px solid var(--gris);
            box-shadow: 0px 2px 5px 0px var(--gris);
        }

        .boton-buscar {
            background-color: var(--primary);
        }

        .caja {
            border: none;
            outline: none;
        }

        .raya {
            height: 40px;
            border: 1px solid rgb(196, 194, 194);
        }

        .textos {
            text-align: left;
            color: var(--gris);
        }

        .botonBuscar {
            background-color: var(--primary);
        }

        .calendario {
            border: 1px solid #ccc; 
            font-size: 14px;
        }

        .filtro {
            border: 1px solid var(--gris);
            box-shadow: 0px 2px 5px 0px var(--gris);
            height: 35px;
            width: 80px;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
        }

        @media screen and (max-width: 1023px) {
        .esconde {
            display: none;
        }
        }

        @media screen and (min-width: 1024px){
            .esconde2 {
                display: none;
            }
        }

        @media screen and (max-width: 1824px){
            .esconde3 {
                display: none;
            }
        }
    </style>
</Layout>