---
import Layout from "../layouts/loginLS.astro";
---

<Layout title="Login">
    <style>
        :root {
            --primary: #576cbc;
            --secondary: #0b2447;
            --tertiary: #b1ddec;
            --blanco: #ffffff;
        }

        body,
        html {
            background-color: var(--secondary);
        }

        input {
            background-color: var(--blanco);
        }

        .fondo-primario {
            background-color: var(--tertiary);
        }

        .fondo-secundario {
            background-color: var(--blanco);
        }

        .titutlo-logo {
            color: var(--primary);
            font-weight: bold;
        }

        .texto-1 {
            color: var(--primary);
        }

        .texto-2 {
            color: var(--primary);
            font-weight: bold;
        }

        .texto-3 {
            color: var(--secondary);
        }

        .datos-insertar {
            border-bottom: 1px solid var(--secondary);
        }

        .contenedor-input {
            width: 200px;
        }

        .texto-recuperar {
            color: var(--primary);
            font-weight: bold;
        }

        .texto-recuperar:hover {
            cursor: pointer;
            color: var(--secondary);
        }

        .boton-login {
            background-color: var(--primary);
        }

        .boton-login:hover {
            cursor: pointer;
            background-color: var(--secondary);
        }

        .crear-cuenta {
            color: var(--primary);
            font-weight: bold;
        }

        .crear-cuenta:hover {
            cursor: pointer;
            color: var(--secondary);
        }

        .texto-crear {
            color: var(--primary);
            font-weight: bold;
        }

        /***** VERSION ESCRITORIO ****/
        @media (min-width: 768px) {
            .titutlo-logo {
                color: var(--primary);
                font-weight: bold;
            }
            .contenedor-input {
                width: 300px;
            }

            .datos-insertar {
                width: 275px;
            }
        }
    </style>
    <div class="flex justify-center items-center h-screen">
        <div class="w-[95%] lg:w-[60%] md:w-[50%]">
            <div
                class="flex flex-col lg:flex-row items-center justify-center h-[60vh]"
            >
                <div
                    class="fondo-primario flex flex-col items-center justify-center
                h-[40%] lg:h-[100%] w-[100%] lg:w-[100%] rounded-t-xl lg:rounded-l-xl lg:rounded-tr-none"
                >
                    <img
                        src="public/logo.png"
                        class="logo-imagen h-[50%] lg:h-[30%]"
                    />
                    <h1 class="titutlo-logo text-[20px] lg:text-[64px] mt-6">
                        HOUSINGER
                    </h1>
                </div>
                <div
                    class="fondo-secundario flex flex-col
                h-[100%] lg:h-[100%] w-[100%] lg:w-[100%] lg:rounded-tr-xl lg:rounded-none rounded-bl-xl
                rounded-br-xl lg:rounded-br-xl"
                >
                    <h1 class="texto-1 text-[24px] lg:text-[36px] mt-6 ml-12">
                        Hola!
                    </h1>
                    <h1 class="texto-2 text-[24px] lg:text-[36px] ml-12">
                        Bienvenido
                    </h1>
                    <label
                        class="texto-3 text-[20px] lg:text-[30px] mt-3 ml-16 lg:ml-20 mb-6"
                        ><span style="color: var(--primary);">Acesso</span> de tu
                        cuenta</label
                    >
                    <div class="ml-16 w-60 contenedor-input">
                        <h1 class="">Usuario</h1>
                        <input type="text" class="datos-insertar" id="user" />
                        <br /><br />
                        <h1>Contraseña</h1>
                        <input type="password" class="datos-insertar" id="pass"/>
                    </div>
                    <button
                        onclick="my_modal_1.showModal()"
                        class=" lg:text-[20px] lg:ml-[90px] mt-10 texto-recuperar w-[290px]"
                        >Recuperar contraseña</button
                    >
                    <dialog id="my_modal_1" class="modal">
                        <div class="modal-box">
                            <h3 class="font-bold text-lg">Cambiar contraseña</h3>
                            <br>
                            <input type="text" class="datos-insertar" id="user" placeholder="Usuario" />
                            <br><br><br>
                            <input type="password" class="datos-insertar" id="pass" placeholder="Nueva contraseña"/>
                            <br><br>
                            <button class="bg-[#576cbc] text-[20px] h-10 w-20 text-white rounded-md">Cambiar</button>
                            <div class="modal-action">
                                <form method="dialog">
                                    <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                                </form>
                            </div>
                        </div>
                    </dialog>
                    <button
                        class="bg-[#576cbc] text-[20px] text-white w-52 lg:w-60 h-12 rounded-md ml-16 lg:ml-20 mt-6 lg:text-[32px] boton-login"
                        id="loginButton">Login</button
                    >
                    <label class="texto-crear ml-16 mt-5 mb-10 lg:ml-40 lg:text-[20px] crear-cuenta" id="crearCuenta">Crear cuenta</label>
                </div>
            </div>
        </div>
    </div>

    <script>
        import { API_BASE_URL2 } from '../astro.config.js';
        import { API_BASE_URL } from '../astro.config.js';
        async function loginUser() {
            let username = document.getElementById("user");
            let password = document.getElementById("pass");
            let requestData = {
                username: username.value,
                password: password.value,
            };

            try {
                let response = await fetch(
                    `${API_BASE_URL}/v1/auth/sign-in`,
                    {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify(requestData),
                    },
                );

                if (response.ok) {
                    alert("¡Inicio de sesión exitoso!");
                } else {
                    alert("¡Error en el inicio de sesión!");
                }
            } catch (error) {
                console.error("Error:", error);
                alert("¡Error en el inicio de sesión!");
            }
        }

        document.addEventListener("DOMContentLoaded", function () {
            document
                .getElementById("loginButton")
                .addEventListener("click", loginUser);
        });

        document.getElementById("crearCuenta").addEventListener("click", function() {
            window.location.href = `${API_BASE_URL2}/register`;
        });
    </script>
</Layout>
