---
import Layout from "../layouts/cabezera2.astro";
import Profile from "../components/react/Profile.jsx";
import Data_user from "../components/react/Data_user.jsx";
import Reservation from "../components/react/Reservation.jsx";
import Char from "../components/react/Char.jsx";
import { API_BASE_URL } from '../astro.config.js';
import MisPropiedades from "../components/react/MisProp";

---

<Layout title="Perfil usuario" fondo="blue">
    <main >
        <div >
            <!--FOTO DE PERFIL -->
            <Profile client:only="svelte" />
        </div>
        <!-- MIS PROPIEDADES !!!! ACTIVAR MIS PROPIEDADES !!!! -->
        <!-- <Char url={`${API_BASE_URL}/v1/characteristic/get/all`} client:only="svelte" /> -->
       
        <MisPropiedades client:only="svelte" />
        <!-- MIS RESERVAS -->
        <div class="mt-10">
            <h2 class="md:ml-[180px] lg:ml-[550px] ajustar font-bold text-xl text-center md:text-left lg:text-left">Mis reservas</h2>
        </div>
        <Reservation client:only="svelte" />
        <div class="mt-10"></div>
    </main>
    <style>
        :root {
            --primary: #576cbc;
            --secondary: #0b2447;
            --tertiary: #b1ddec;
            --gris: #948e8e;
            --star: #ffd910;
            --menu: #a5d7e8;
        }
    </style>
</Layout>