---
import Layout from "../layouts/cabezera2.astro";
---

<Layout title="Crear cuenta" fondo="white">
    <main>
        <div class="lg:flex lg:justify-center">
            <div class="lg:mr-8 lg:mb-0 mb-8">
                <div class="contedor-imagen flex justify-center items-center rounded-[20px] w-[250px] h-[230px] ml-[20%] lg:ml-[50%] md:ml-[35%] lg:mt-[170px]" id="uploadfile">
                    <div id="upload-content">
                        <i class="icon-[mdi--plus]"></i>
                        <br />
                        <p>foto de cuenta</p>
                    </div>
                </div>
            </div>
            <div class="lg:w-[60%] w-[100%] md:ml-[7%]">
                <h2 class="mt-4 mb-4 text-xl">Crear cuenta</h2>
                <h2 class="mb-4 text-xl">Información</h2>
                <div class="lg:flex lg:gap-[30px]">
                    <div class="lg:w-[43%]">
                        <p class="text-lg ml-[40px]">Nombre</p>
                        <input type="text" id="name" class="input-style lg:w-full lg:h-[20%] w-[80%] mb-1"/>
                        <p class="text-lg ml-[40px]">Email</p>
                        <input type="text" id="mail" class="input-style lg:w-full lg:h-[20%] w-[80%] mb-1"/>
                        <p class="text-lg ml-[40px]">Contraseña</p>
                        <input type="text" id="pass" class="input-style lg:w-full lg:h-[20%] w-[80%]"/>
                        <p class="text-lg ml-[40px]">Usuario</p>
                        <input type="text" id="user" class="input-style lg:w-full lg:h-[20%] w-[80%]"/>
                    </div>
                    <div class="lg:w-[43%]">
                        <p class="text-lg ml-[40px]">Apellido</p>
                        <input type="text" id="surname" class="input-style lg:w-full lg:h-[20%] w-[80%] mb-1"/>
                        <p class="text-lg ml-[40px]">DNI</p>
                        <input type="text" id="dni" class="input-style lg:w-full lg:h-[20%] w-[80%] mb-1"/>
                        <p class="text-lg ml-[40px]">Confirmar contraseña</p>
                        <input type="text" id="pass2" class="input-style lg:w-full lg:h-[20%] w-[80%]"/>
                        <button id="register" class="input-style ml-[10%] lg:mt-[27px] lg:w-full lg:h-[10%] lg:ml-[3.4%] md:ml-[5%]">Guardar cuenta</button>
                    </div>
                </div>
                <span class="text-lg ml-[40px] error-mensaje" id="error-message"></span>
                <div class="loading-container" id="loading-spinner" style="display: none;">
                    <span class="loading loading-dots loading-lg ml-[40px]"></span>
                </div>
            </div>
        </div>
    </main>
    <script>
        import { API_BASE_URL } from "../astro.config.js";
        let uploadedFile = null;
    
        function showLoading() {
            document.getElementById("loading-spinner").style.display = "block";
        }
    
        function hideLoading() {
            document.getElementById("loading-spinner").style.display = "none";
        }
    
        function handleFileSelect(event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById("upload-content").innerHTML = `
                        <img src="${e.target.result}" alt="uploaded-image" style="max-width: 55%; max-height: 55%;">
                    `;
                };
                reader.readAsDataURL(file);
                window.uploadedFile = file;
                uploadedFile = file;
            }
        }
    
        document
            .getElementById("uploadfile")
            .addEventListener("click", function () {
                const input = document.createElement("input");
                input.type = "file";
                input.accept = "image/*";
                input.style.display = "none";
                input.addEventListener("change", handleFileSelect);
                document.body.appendChild(input);
                input.click();
                document.body.removeChild(input);
            });
    
        async function registerUser() {
            let username = document.getElementById("user");
            let password = document.getElementById("pass");
            let name = document.getElementById("name");
            let surname = document.getElementById("surname");
            let mail = document.getElementById("mail");
            let dni = document.getElementById("dni");
            let pass2 = document.getElementById("pass2");
            let uploadfile = document.getElementById("uploadfile");
    
            // Mostrar spinner de carga
            showLoading();
    
            //CONTROL DE ERRORES
            if (!/^[A-Za-záéíóúÁÉÍÓÚ\s]+$/.test(name.value) || !/^[A-Za-záéíóúÁÉÍÓÚ\s]+$/.test(surname.value) || name.value[0] !== name.value[0].toUpperCase() || surname.value[0] !== surname.value[0].toUpperCase()) {
                document.getElementById("error-message").textContent = "El nombre y apellido deben comenzar con mayúscula y no contener caracteres especiales.";
                name.classList.add("campo-invalido");
                surname.classList.add("campo-invalido");
                hideLoading();
                return;
            } else {
                document.getElementById("error-message").textContent = "";
                name.classList.remove("campo-invalido");
                surname.classList.remove("campo-invalido");
            }
    
            if (!/^[^\W_]+$/.test(dni.value) || dni.value.length !== 9 || dni.value.toUpperCase() !== dni.value) {
            document.getElementById("error-message").textContent = "El DNI no puede contener caracteres especiales, debe tener 9 caracteres y solo puede contener mayúsculas.";
            dni.classList.add("campo-invalido");
            hideLoading();
            return;
            } else {
                document.getElementById("error-message").textContent = "";
                dni.classList.remove("campo-invalido");
            }

    
            if (password.value !== pass2.value) {
                document.getElementById("error-message").textContent = "Las contraseñas no coinciden.";
                password.classList.add("campo-invalido");
                pass2.classList.add("campo-invalido");
                hideLoading();
                return;
            } else {
                document.getElementById("error-message").textContent = "";
                password.classList.remove("campo-invalido");
                pass2.classList.remove("campo-invalido");
            }
            if (password.value.trim() === "") {
                document.getElementById("error-message").textContent = "La contraseña no puede estar vacía.";
                password.classList.add("campo-invalido");
                hideLoading();
                return;
            } else {
                document.getElementById("error-message").textContent = "";
                password.classList.remove("campo-invalido");
            }
    
            if (pass2.value.trim() === "") {
                document.getElementById("error-message").textContent = "La confirmación de contraseña no puede estar vacía.";
                pass2.classList.add("campo-invalido");
                hideLoading();
                return;
            } else {
                document.getElementById("error-message").textContent = "";
                pass2.classList.remove("campo-invalido");
            }
    
            if (uploadedFile === null) {
                document.getElementById("error-message").textContent = "Debe subir una foto de perfil.";
                uploadfile.classList.add("campo-invalido");
                hideLoading();
                return;
            } else {
                document.getElementById("error-message").textContent = "";
                uploadfile.classList.remove("campo-invalido");
            }
    
            if (mail !== null) {
                if (!mail.value.includes("@") || !mail.value.includes(".")) {
                    document.getElementById("error-message").textContent = "El correo no es válido.";
                    mail.classList.add("campo-invalido");
                    hideLoading();
                    return;
                } else {
                    document.getElementById("error-message").textContent = "";
                    mail.classList.remove("campo-invalido");
                }
            }
    
            if (!/^[^\W_]+$/.test(username.value) || username.value.length < 6) {
                document.getElementById("error-message").textContent = "El usuario debe tener al menos 6 caracteres y no puede contener caracteres especiales.";
                username.classList.add("campo-invalido");
                hideLoading();
                return;
            } else {
                document.getElementById("error-message").textContent = "";
                username.classList.remove("campo-invalido");
            }
    
            let requestData = {
                username: username.value,
                password: password.value,
                name: name.value,
                surname: surname.value,
                mail: mail.value,
                dni: dni.value,
                picture: uploadedFile.name,
            };
    
            try {
                let response = await fetch(`${API_BASE_URL}/v1/auth/sign-up`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(requestData),
                });
                if (response.ok) {
                    const responseData = await response.json();
                    const customerId = responseData.customerEntity.id;
    
                    alert("¡Cuenta creada con éxito!");
    
                    let formData = new FormData();
                    formData.append("file", uploadedFile);
    
                    try {
                        let pictureResponse = await fetch(
                            `${API_BASE_URL}/v1/fileCustomer/upload/${customerId}`,
                            {
                                method: "POST",
                                body: formData,
                            },
                        );
    
                        if (pictureResponse.ok) {
                            alert("¡Foto de perfil subida con éxito!");
                        } else {
                            alert("¡Error al subir foto de perfil!");
                        }
                    } catch (error) {
                        console.error("Error al subir foto de perfil:", error);
                        alert("¡Error al subir foto de perfil!");
                    }
                } else {
                    if (response.status === 409) {
                        try {
                            const errorText = await response.text();
                            if (errorText.includes("Duplicate entry") && /(\d{8,}[A-Z])/.test(errorText)) {
                                const errorMessage = "El DNI ya existe en la base de datos.";
                                document.getElementById("error-message").textContent = errorMessage;
                            }
                            else if (errorText.includes("Duplicate entry") && errorText.includes('@')) {
                                const errorMessage = "El correo electrónico ya está registrado.";
                                document.getElementById("error-message").textContent = errorMessage;
                            }
                            else if (errorText.includes("Duplicate entry")) {
                                const errorMessage = "El nombre de usuario ya esta en uso.";
                                document.getElementById("error-message").textContent = errorMessage;
                            }
                            else {
                                alert("¡Error al crear cuenta!");
                            }
                        } catch (error) {
                            console.error("Error al obtener el texto del error:", error);
                            alert("¡Error al crear cuenta!");
                        }
                    } else {
                        alert("¡Error al crear cuenta!");
                    }
                }
            } catch (error) {
                console.error("Error:", error);
                alert("¡Error al crear cuenta!");
            } finally {
                hideLoading();
            }
        }
    
        document.addEventListener("DOMContentLoaded", function () {
            document
                .getElementById("register")
                .addEventListener("click", registerUser);
        });
    </script>
    
    <style>
        body,
        html {
            background-color: #ffffff;
        }
        .contedor-imagen {
            border: 3px solid #948e8e;
        }

        button {
            background-color: #576cbc;
            color: white;
            border: none;
            border-radius: 5px;
            margin-bottom: 50px;
        }

        input {
            border: 2px solid #948e8e;
            border-radius: 5px;
            height: 35px;
            margin-bottom: 20px;
        }

        img {
            height: 100px;
            width: 100px;
        }

        .input-style {
            margin-left: 40px;
        }

        p {
            color: #576cbc;
        }

        h2 {
            margin-left: 40px;
            margin-top: 40px;
            font-size: 18px;
            font-weight: bold;
        }

        .contedor-imagen > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        i {
            height: 70px;
            width: 70px;
            color: #576cbc;
        }

        .campo-invalido {
            border-color: red;
        }

        .error-mensaje {
            color: red;
        }
    </style>
</Layout>
