---
import Layout from "../layouts/cabezera2.astro";
import Trade from "../components/react/Trade.jsx";
import { API_BASE_URL } from '../astro.config.js';


---
<Layout title="Housinger" fondo="blue">
    <div class="">
        <Trade client:only="svelte" />
    </div>
</Layout>


