---
interface Props {
    icon: string;
    text: string;
}

const { icon, text } = Astro.props;
---

<button class="mt-5 ml-5 lg:ml-12 caracteristica w-30 h-20">
    {icon && <i class={icon + " w-[30px] h-[30px] lg:w-[35px] lg:h-[35px] md:w-[40px] md:h-[40px]"} />}
    <h2 class="nombreFiltro text-[12px] lg:text-[15px] md:text-[16px]">
        {text}
    </h2>
</button>