---
interface Props {
    title: string;
    href: string;
    imageSrc: string;
    descrip : string;
}

const { href, title, descrip, imageSrc } = Astro.props;
---
<div class="propiedad ml-[30px] lg:ml-[1%] lg:w-[400px]">
    <a href={href}>
        {imageSrc && <img src={imageSrc} class="w-[90%] h-[auto] rounded-[20px] lg:w-[100%]" />}
        <h2 class="lugar">
            {title}
        </h2>
        <h2 class="descripcion">
            {descrip}
        </h2>
    </a>
</div>

<style>
    .lugar {
        font-weight: bold;
    }

    .propiedad {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .descripcion{
        color: gray;
    }
</style>