<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rsena</title>
    <style>
        .boton-modal {
            background-color: #576cbc;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .boton-modal:hover {
            background-color: #3f4e8f;
        }
    </style>
</head>
<body>
    <div class="lg:flex gap-5 mt-10 lg:ml-[210px] lg:gap-[160px] contendor-resenas">
        <div>
            <div class="flex gap-5">
            <div>
                <img class="imagen-optima h-[90px] w-[100px] rounded-[50%]" src="../../public/perfil2.jpg" alt="">
            </div>
            <div class="mt-5">
                <label>Adrian 05/02/2024</label>
                <br>
                <div class="rating">
                    <input type="radio" name="rating-4" class="mask mask-star-2 bg-yellow-500" />
                    <input type="radio" name="rating-4" class="mask mask-star-2 bg-yellow-500" checked />
                    <input type="radio" name="rating-4" class="mask mask-star-2 bg-yellow-500" />
                    <input type="radio" name="rating-4" class="mask mask-star-2 bg-yellow-500" />
                    <input type="radio" name="rating-4" class="mask mask-star-2 bg-yellow-500" />
                </div>
            </div>
            </div>
            <div class="mt-5">
                <textarea class="h-[100px] w-[300px]">Buena ubicacion para disfrutar con la familia y propietaria muy maja y amable. El intermacambio fue rapido y sencillo.</textarea>
            </div>
        </div>
        <div>
            <div class="flex gap-5">
            <div>
                <img class="imagen-optima h-[90px] w-[100px] rounded-[50%]" src="../../public/perfil2.jpg" alt="">
            </div>
            <div class="mt-5">
                <label>Adrian 05/02/2024</label>
                <br>
                <div class="rating">
                    <input type="radio" name="rating-4" class="mask mask-star-2 bg-yellow-500" />
                    <input type="radio" name="rating-4" class="mask mask-star-2 bg-yellow-500" checked />
                    <input type="radio" name="rating-4" class="mask mask-star-2 bg-yellow-500" />
                    <input type="radio" name="rating-4" class="mask mask-star-2 bg-yellow-500" />
                    <input type="radio" name="rating-4" class="mask mask-star-2 bg-yellow-500" />
                </div>
            </div>
            </div>
            <div class="mt-5">
                <textarea class="h-[100px] w-[300px]">Buena ubicacion para disfrutar con la familia y propietaria muy maja y amable. El intermacambio fue rapido y sencillo.</textarea>
            </div>
        </div>
    </div>
    
    <div class="lg:flex gap-5 mt-10 lg:ml-[210px] lg:gap-[160px] contendor-resenas">
        <div>
            <div class="flex gap-5">
            <div>
                <img class="imagen-optima h-[90px] w-[100px] rounded-[50%]" src="../../public/perfil2.jpg" alt="">
            </div>
            <div class="mt-5">
                <label>Adrian 05/02/2024</label>
                <br>
                <div class="rating">
                    <input type="radio" name="rating-4" class="mask mask-star-2 bg-yellow-500" />
                    <input type="radio" name="rating-4" class="mask mask-star-2 bg-yellow-500" checked />
                    <input type="radio" name="rating-4" class="mask mask-star-2 bg-yellow-500" />
                    <input type="radio" name="rating-4" class="mask mask-star-2 bg-yellow-500" />
                    <input type="radio" name="rating-4" class="mask mask-star-2 bg-yellow-500" />
                </div>
            </div>
            </div>
            <div class="mt-5">
                <textarea class="h-[100px] w-[300px]">Buena ubicacion para disfrutar con la familia y propietaria muy maja y amable. El intermacambio fue rapido y sencillo.</textarea>
            </div>
        </div>
        <div>
            <div class="flex gap-5">
            <div>
                <img class="imagen-optima h-[90px] w-[100px] rounded-[50%]" src="../../public/perfil2.jpg" alt="">
            </div>
            <div class="mt-5">
                <label>Adrian 05/02/2024</label>
                <br>
                <div class="rating">
                    <input type="radio" name="rating-4" class="mask mask-star-2 bg-yellow-500" />
                    <input type="radio" name="rating-4" class="mask mask-star-2 bg-yellow-500" checked />
                    <input type="radio" name="rating-4" class="mask mask-star-2 bg-yellow-500" />
                    <input type="radio" name="rating-4" class="mask mask-star-2 bg-yellow-500" />
                    <input type="radio" name="rating-4" class="mask mask-star-2 bg-yellow-500" />
                </div>
            </div>
            </div>
            <div class="mt-5">
                <textarea class="h-[100px] w-[300px]">Buena ubicacion para disfrutar con la familia y propietaria muy maja y amable. El intermacambio fue rapido y sencillo.</textarea>
            </div>
        </div>
    </div>
    <div class="lg:ml-[210px] ajustar">
        <button class="boton-modal lg:w-40">Mostrar más</button>
    </div>
</body>
</html>