@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.sent-message {
    display: flex;
    flex-direction: row-reverse; 
}

.received-message {
    display: flex;
    flex-direction: row; 
}

.message-container {
    max-width: 70%; 
}

.sent-message .flex-container {
    justify-content: flex-start; 
}

.received-message .flex-container {
    justify-content: flex-end; 
}

.message-content {
    background-color: #F3F4F6; 
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 8px;
}

.message-content p {
    margin: 0; 
}


.chat-container {
    display: flex;
    gap: 5px;
}

.conversation-buttons {
    height: calc(100vh - 20px);
    overflow-y: auto;
}

.chat-messages {
    flex: 1;
    overflow-y: scroll;
    height: calc(100vh - 20px);
    scroll-behavior: smooth;
}

.sent-message, .received-message {
    display: flex;
    margin: 5px;
}

.sent-message .flex-container {
    justify-content: flex-start;
}

.received-message .flex-container {
    justify-content: flex-end;
}

.message-content {
    background-color: #F3F4F6;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 8px;
}

.message-content p {
    margin: 0;
}

.chat-messages::-webkit-scrollbar {
    width: 0;
}
