@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body,
html {
    font-family: "IBM Plex Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: white !important;
}

main {
    background-color: white !important;
}

.AAA {
    width: 80px;
    height: 57px;
}

.boton-cama {
    background-color: white;
    border: 1px solid var(--gris);
    color: black;
}

.boton-cama:hover {
    background-color: var(--gris);
    color: white;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.boton-filtro {
    background-color: #576cbc;
    color: white;
    width: 80px;
    height: 57px;
    border-radius: 5px;
}

.nombreFiltro-activo {
    color: white;
}

.boton-filtro2 {
    background-color: #576cbc;
    color: white;
    width: 140px;
    height: 40px;
    border-radius: 5px;
}

.boton-filtro3 {
    width: 140px;
    height: 40px;
    border-radius: 5px;
}

.lugar {
    font-weight: bold;
}

.modal-box {
    background-color: white;
}

h3 {
    color: black;
}

.cerrar {
    background-color: #576cbc;
    color: white;
    border: none;
}

.cerrar:hover {
    background-color: #3f4e7f;
}

/** Perfil_user ***/
.editar-foto {
    background-color: var(--primary);
    color: white;
    padding: 5px;
    border-radius: 50px;
    border: none;
    margin-left: 10px;
    width: 50px;
    height: 50px;
}

.cambiar-foto {
    font-size: 30px;
}

.input-datos {
    padding: 2px;
    border: 2px solid var(--gris);
    border-radius: 5px;
}

.boton-guardar {
    background-color: var(--primary);
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.boton-modal {
    background-color: white;
    color: black ;
    border: 1px solid var(--gris);
}

.boton-modal:hover {
    background-color: #f2f2f2;
}

.boton-cerrar {
    background-color: rgb(247, 54, 54);
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.boton-rechazar {
    background-color: rgb(247, 54, 54);
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: 150px;
    border: none;
}

.contendor-xd {
    background-color: #576cbc;
    padding: 40px;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 0px 0px 5px black;
}

.boton-rechazar:hover {
    background-color: #fd7878;
}

.boton-aceptar {
    background-color: #576cbc;
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 150px;
}

.boton-aceptar:hover {
    background-color: #3f4e7f;
}

.contedor-propiedad1 {
    background-color: #3f4e7f;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    color: white;
}

.contedor-propiedad2 {
    background-color: var(--primary);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    color: white;
}

.blanco-propieda-intercambio {
    color: white;
}

.boton-aceptar-intercambio {
    background-color: #576cbc;
    color: white;
    width: 100px;
    border-radius: 5px;
    border: none;
}

.boton-aceptar-intercambio:hover {
    background-color: #3f4e7f;
}

.boton-rechazar-intercambio {
    background-color: rgb(247, 54, 54);
    color: white;
    padding: 5px;
    width: 100px;
    border-radius: 5px;
    border: none;
}

.boton-rechazar-intercambio:hover {
    background-color: #fd7878;
}

@media screen and (width: 1440px) {
    .ajustar {
        margin-left: 300px;
    }
}

@media screen and (min-width: 1441px) {
    .arreglar-texto {
        padding-left: 500px;
    }
}